#travelform {
  border: 2px solid grey;
  padding-top: 2%;
  padding-bottom: 2%;
}
.row{
  width: 85%;
  padding-left: 5%;
}
h4{
  padding-left: 2%;
  font-weight: lighter;
}
.opening h2 {
  color: green;
}
.opening p {
  text-align: center;
  font-size: 20px;
}

label {
  margin-right: 15px;
}
